ul.content-menu-short
    li
        a(href='/profile') Кабінет
    li
        a(href='#') Бюджет
    li
        a(href='#') Верстання
    li
        a(href='#') Макет
    li
        a(href='#') Допомога