a(href='/')
    img(src='/img/Logo_0011.png')
ul
    li
        a(href='/order') Замовлення
    li
        a(href='#') Макети та матеріали
    li
        a(href='#') Продукти
    li
        a(href='#') Контакти
    li
        a(href='/profile') Кабінет