nav.pushy.pushy-left
    .pushy-content
        a(href='/')
            img(src='/img/Logo_0011.png')
        ul
            li.pushy-link
                a(href='/order.html') Замовлення
            li.pushy-link
                a(href='#') Макети та матеріали
            li.pushy-link
                a(href='#') Продукти
            li.pushy-link
                a(href='#') Контакти
            li.pushy-link
                a(href='/profile') Кабінет
.site-overlay