li.clearfix
    p.item-right.green
        | Статус:
        span.caption {{status}}
    p.item
        | ID:
        span.caption {{id}}
    p.item
        | Назва:
        span.caption {{title}}
    p.item
        | Ціна:
        span.caption {{price}}
    p.item
        | Дата:
        span.caption {{date}}