extends src/layout

block content
    include src/pushy-left
    div
        include src/menu-container
        .content-main-wrapper
            h2.content-main-wrapper_title Швидке замовлення
            .content-main-box
                a(href='')
                    img(src='img/list.jpg', alt='Листовки')
                    span Листівки
            .content-main-box
                a(href='')
                    img(src='img/bukl.jpg', alt='Листовки')
                    span Буклети
            .content-main-box
                a(href='')
                    img(src='img/posters.png', alt='Листовки')
                    span Плакати
            .content-main-box
                a(href='')
                    img(src='img/cards.png', alt='Листовки')
                    span Візитки
            .content-main-box
                a(href='')
                    img(src='img/broshur.jpg', alt='Листовки')
                    span Брошюри
            .content-main-box
                a(href='')
                    img(src='img/katalog.jpg', alt='Листовки')
                    span Каталоги
            .content-main-box
                a(href='')
                    img(src='img/calendar_quatrer.jpg', alt='Листовки')
                    span Квартальні календарі
            .content-main-box
                a(href='')
                    img(src='img/calendar_desktop.png', alt='Листовки')
                    span Перекидні календарі
            .content-main-box
                a(href='')
                    img(src='img/calendar_little.jpg', alt='Листовки')
                    span Карманні календарі
            .content-main-box
                a(href='')
                    img(src='img/cd.jpg', alt='Листовки')
                    span Обкладинки CD/DVD

